.container-recipe {
  align-items: center;
  background: linear-gradient(145deg, #fffff8, #e6e6d1);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  box-shadow:  11px 11px 22px #66665d,
    -4px -4px 22px #ffffff;
  display: flex;
  height: 150px;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
  width: 280px;
}

.container-recipe > img {
  border-radius: 20px;
  margin-bottom: 10px;
  object-fit: cover;
  width: 120px;
}

.container-recipe > h2 {
  color: var(--secondary-color);
  margin-left: 10px;
}

.container-recipes {
margin-bottom: 80px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}

.container-btn-category {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
