:root {

  --bg-color: #FFFFE8;

  --primary-color: #773344;

  --secondary-color: #000411;

  --primary-accent-color: #CD8987;

  --secondary-accent-color: #708ac8;

  --font-color: #3f220f;

  --neumorphism-shadow-1: #9e9e90;

  --neumorphism-shadow-2: #ffffff;
}
